/**
 * Site header
 */
.site-header {
    background: #fff;
    border-bottom: 1px solid $grey-color-light;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    min-height: 56px;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.site-title {
    color: $brand-color-darker;
    font-family: "Sarala", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $brand-color-darker;
    }
    span {
      color: $brand-color-lighter;
    }

    &:hover {
      text-decoration: none;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    ul {
      list-style: none none outside;
      margin: 0;

      li {
        display: inline-block;
        margin: 0 10px;

        &.active a, &:hover a {
          border-bottom: 2px solid $brand-color-base;
        }

        a {
          text-decoration: none;
        }
      }
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .contact {
      font-size: 12px;
      position: absolute;
      top: 0;
      line-height: 1;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }

    }
}

.jumbotron {
  background: #dfdfdf url("../img/jumbo.jpg") no-repeat 0 60%;
  background-size: cover;
  padding: 120px 60px;
  margin-bottom: 20px;

  h1, p {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    width: 75%;
  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .intro {
    font-size: 24px;
    font-style: italic;
  }

  .brand {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

hr {
  border-top: 1px solid #fefefe;
  margin: 0 auto;
  width: 40%;
}

section {
  padding: 40px 0;

  ul {
    margin-bottom: 0;
  }
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  width: 50%;
  float: left;

  h1, h2 {
    color: $brand-color-darker;
    font-size: 32px;
  }
}

/**
 * Site footer
 */
.site-footer {
    background: #f9f8f4;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    background: #fff;
    padding: 56px 0 $spacing-unit;
    margin-bottom: 220px;
    position: relative;
    border-bottom: 1px solid $grey-color-light;
    z-index: 3;

    .back-to-top {
      display: block;
      text-align: center;
      text-indent: -999em;
      overflow: hidden;
      width: 20px;
      height: 20px;
      margin: 32px auto -32px;
      position: relative;

      &::before {
        content: "";
        border: 10px solid $grey-color-light;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: 2px;
        left: 50%;
        margin-left: -10px;
        //
      }
      &::after {
        content: "";
        border: 10px solid #f9f8f4;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
      }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
